.iconBrandWidget {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #d6d6d6;
}

.iconBrandWidget h1 {
  margin: 0px 0px 0px 6px;
  font-size: 19px;
}

.iconBrand {
  font-size: 19px;
}
