.cartContainerTitle {
  margin: 68px 20%;
}

.cartContainerTitle h1 {
  font-size: 40px;
  line-height: 1.47059;
  font-weight: 600;
}

.cartContainerTitle h4 {
  font-size: 20px;
  font-weight: 400;
}

.cartContainerTitleDescription {
  background-color: rgb(245, 245, 247);
  margin: 0 20%;
  padding: 0 10%;
  border-radius: 0.70588rem;
  padding: 1.17647rem 1rem;
  text-align: center;
  justify-content: center;
}

.cartContainerTitleDescription p {
  margin: 0;
}

.cartContainer {
  color: #333333;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 20%;
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 40px;
  width: 50%;
}

.imgCart {
  width: 200px;
}

.prodDescContainer {
  margin-left: 20px;
}

.prodNamePriceContainer {
  display: flex;
  justify-content: space-between;
}

.prodDescContainer h1 {
  font-size: 25px;
  font-weight: 600;
  /* line-height: 1.16667; */
}

.prodDescContainer h2 {
  font-size: 20px;
}

.prodDescPrice {
  font-size: 25px;
  font-weight: 600;
  margin: 0px;
  /* line-height: 1.16667; */
}

.prodDescDetail {
  font-size: 14px;
  line-height: 1.42859;
}
.productName p {
  margin: 0px;
}

.productDescription p {
  margin: 5px;
}

.prodDescQtty {
  font-size: 15px;
  color: #a3a3a7;
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 20px;
}

.prodDescButton {
  border: none;
  background-color: transparent;
  color: #06c;
  padding: 0px;
  font-size: 17px;
}

.prodDescButton:hover {
  text-decoration: underline;
}

.clearBagButton {
  width: 80%;
  /* margin-left: 5%; */
  background-color: #0071e3;
  color: white;
  padding: 18px 31px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
}

.clearbagbutton:hover {
  background-color: #0079e3;
}

.checkOut {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 41%;
  background-color: #f5f5f7;
  border-radius: 12px;
  padding: 24px 32px 28px;
}

.checkOut p {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 33px;
}

.emptyBagContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.emptyBagContainer p {
  color: #a3a3a7;
  font-size: 8em;
}

.buttonEmptyBag {
  width: 18%;
  /* margin-left: 5%; */
  background-color: #0071e3;
  padding: 18px 31px;
  border: none;
  border-radius: 8px;
}

.buttonEmptyBagLink {
  color: white !important;
  text-decoration: none !important;
}

.buttonEmptyBag:hover {
  background-color: #0079e3;
}

.cartContainerALL {
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
}

.cartVh {
  margin: 20px 0;
}
