.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 18px;
  margin: 25px;
  height: 500px;
  padding: 29px;
  width: fit-content;
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 1px 16px rgb(212, 212, 212);
  transition: all 0.4s;
}

.detailButton {
  background-color: transparent;
  border: none;
  color: black;
  text-decoration: none;
}

.itemContainer h4 {
  margin: 7px;
  font-weight: 400;
  line-height: 1.28577;
}

.itemContainer h2 {
  font-size: 17px;
  font-weight: 400;
  margin-top: 14px;
  margin-bottom: 27px;
}

.itemContainer:hover {
  box-shadow: 0px 1px 16px 15px rgb(212, 212, 212);
  transform: scale(1.03);
}

.itemCategoryContainerGeneral {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f7;
}

.itemListTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20%;
  margin-top: 50px;
  text-align: center;
}

.itemListTitles span {
  color: #86868b;
}

.itemListTitles h1,
h2 {
  font-size: 60px;
}

.itemListTitlesP p {
  color: #86868b;
  font-size: 19px;
  line-height: 1.1666666667;
  font-weight: 600;
  letter-spacing: 0.009em;
  padding: 0 20%;
  margin-top: 10px;
  text-align: center;
}

.titleHere {
  padding: 0 20%;
  font-size: 40px;
  color: #86868b;
}

.titleHere span {
  color: black;
}

.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
