.itemListContainerGeneral {
  background-color: rgb(245, 245, 247);
  padding: 0 20%;
}

.itemListContainer {
  background-color: rgb(245, 245, 247);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: flex-start;
  /* width: 100vw; */
  /* padding: 0 20%; */
}

.itemListContainerTitle {
  background-color: rgb(245, 245, 247);
  color: #6e6e73;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.08349;
  padding-left: 30px;
}

.itemListContainerTitle span {
  color: black;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(245, 245, 247);
  align-items: center;
  height: 50%;
  /* padding: 10px 12%; */
}

.itemListContainerSpecialist {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 18px;
  margin: 38px 50px;
  width: 750px;
  height: 500px;
  background-image: url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/store-card-50-specialist-202108?wid=960&hei=1000&fmt=p-jpg&qlt=95&.v=1626296836000");
  background-size: 550px;
  background-position: bottom;
  background-repeat: no-repeat;
  box-shadow: 0px 1px 16px rgb(212, 212, 212);
  cursor: pointer;
  transition: all 0.4s;
}

.itemListContainerSpecialist:hover {
  box-shadow: 0px 1px 16px 15px rgb(212, 212, 212);
  transform: scale(1.03);
}

.itemListContainerSpecialist h3 {
  font-size: 28px;
  padding: 40px 60px 40px 40px;
}

.specialistImg {
  width: 100%;
  object-fit: cover;
}

.itemListTitle {
  font-size: 27px;
  font-weight: 600;
  /* padding: 30px 20% 0 20%; */
  margin: 0;
  background-color: rgb(245, 245, 247);
}

.itemListTitle span {
  color: #6e6e73;
}
