.containerVh {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemDetailContainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f7;
}

.itemDetailContainer {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 1px 16px rgb(212, 212, 212);
  transition: all 0.2s;
}

.itemDetailDetail {
  display: flex;
  flex-direction: column;
}

.itemDetailPhoto {
  padding: 10px;
}

.itemDetailDetail {
  margin-left: 20px;
  padding: 20px;
}

.itemDetailDetail h2 {
  font-size: 25px;
}

.itemDetailDetail h3,
h4 {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
}
