.counterContainer {
  /* border: solid 1px grey; */
  margin: 10px 3%;
  display: flex;
  flex-direction: column;
}

.counterInfoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counterData {
  border: solid 1px rgb(194, 190, 190);
  border-radius: 10px;
  padding: 5px 40px;
  margin: 0 10px;
  font-size: 20px;
  color: grey;
}

.counterButtons {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.counterDateClick {
  color: grey;
  font-size: 10px;
  font-style: italic;
}

.addToBagButton {
  background-color: #0071e3;
  color: white;
  cursor: pointer;
  padding: 8px;
  margin-top: 7px;
  font-size: 17px;
  border: none;
  border-radius: 8px;
}

.addToBagButton:hover {
  background-color: #0079e3;
}
