.navBarContainer {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.navBarLogo {
  margin: 0 10px;
}

.navBarLinks {
  margin: 0px 10px;
}

.ulNavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ulNavBar li {
  margin: 10px 10px;
  list-style-type: none;
  color: rgb(155, 153, 153);
  cursor: pointer;
}

.ulNavBar li:hover {
  color: black;
}
